@charset "utf-8";
/* CSS Document */
header.index{background-color:#1D2123; padding:20px 10px;}
header.page2{background-color:#1D2123;}
body{background: url(../img/eco/bk-eco.jpg) repeat-y;}
.btn-login{background:#1ABC9C; color:#fff; border:0; border-radius:0; padding:5px 20px; font-size:16px; border:1px solid #1ABC9C; float:right;}
.btn-login img{height:30px; width:30px; }
.btn-login:hover{background:#1D2123; color:#fff; border:1px solid #1ABC9C; transition: 0.5s ease;}
.front-title, .front-subtitle{color:#fff;}
h1.front-title{font-size:72px; display:block; margin-left:auto; margin-right:auto; text-align:center; margin-top:150px;}
h6.front-subtitle{font-size:16px; display:block; margin-left:auto; margin-right:auto; text-align:center;}
.nav-page{background-color:#1D2123;border:0px; border-radius:0px;}
.box{margin:20px 0; background:#fff; padding-bottom:20px; cursor:default; height:250px;}
.title-bag{background:url(../img/eco/bk-eco-ga.jpg); padding-bottom:7px;}
.box-title h1{color:#fff !important; padding:20px 10px !important;}
.navbar-fixed-top, .navbar-fixed-bottom{position:relative;}
a.noshow{text-decoration:none;}
.inputbox{margin:10px 0;}
.rating_bar {
    /*this class creats 5 stars bar with empty stars */
    /*each star is 16 px, it means 5 stars will make 80px together */
    width: 80px;
    /*height of empty star*/
    height: 16px;
    /*background image with stars */
    background: url(/CloudProject/img/eco/stars.png);
    /*which will be repeated horizontally */
    background-repeat: repeat-x;
    /* as we are using sprite image, we need to position it to use right star, 
    //0 0 is for empty */
    background-position: 0 0;
    /* align inner div to the left */
    text-align: left;
}
.rating {
    /* height of full star is the same, we won't specify width here */
    height: 16px;
    /* background image with stars */
    background: url(/CloudProject/img/eco/stars.png);
    /* now we will position background image to use 16px from top, 
    //which means use full stars */
    background-position: 0 -16px;
    /* and repeat them horizontally */
    background-repeat: repeat-x;
}
.setbox{padding-left:10px; padding-right:10px;}
.setbox img{height:100px !important;}
.box-title h1{font-size:17px; color:#fff;  margin:0; }
.location,.share, .checkingIn{max-width:30px; padding-top:20px;}
.pad-top{padding-top:20px;}
ul.navbar-nav{padding-top:20px !important;}
@media screen and (max-width:768px){
	.box-title{height: 40px}
	.box{height:225px !important;}
}

html,body {margin:0; padding:10px; -webkit-backface-visibility:hidden;}

/* text-based popup styling */
.white-popup {
  position: relative;
  background: #FFF;
  padding: 25px;
  width:auto;
  max-width: 400px;
  margin: 0 auto; 
}
.mfp-3d-unfold {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-3d-unfold .mfp-content {
  perspective: 2000px;
}
.mfp-3d-unfold .mfp-with-anim {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform-style: preserve-3d;
  transform: rotateY(-60deg);
}
.mfp-3d-unfold.mfp-bg {
  opacity: 0;
  transition: all 0.5s;
}
.mfp-3d-unfold.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: rotateY(0deg);
}
.mfp-3d-unfold.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-3d-unfold.mfp-removing .mfp-with-anim {
  transform: rotateY(60deg);
  opacity: 0;
}
.mfp-3d-unfold.mfp-removing.mfp-bg {
  opacity: 0;
}