@charset "utf-8";
/* CSS Document */
header.index{background-color:#1D2123; padding:20px 10px;}
header.page2{background-color:#1D2123;}
body{background: url(../img/eco/bk-eco.jpg) repeat-y;}
.btn-login{background:#1ABC9C; color:#fff; border:0; border-radius:0; padding:5px 20px; font-size:16px; border:1px solid #1ABC9C; float:right;}
.btn-login img{height:30px; width:30px; }
.btn-login:hover{background:#1D2123; color:#fff; border:1px solid #1ABC9C; transition: 0.5s ease;}
.front-title, .front-subtitle{color:#fff;}
h1.front-title{font-size:72px; display:block; margin-left:auto; margin-right:auto; text-align:center; margin-top:150px;}
h6.front-subtitle{font-size:16px; display:block; margin-left:auto; margin-right:auto; text-align:center;}
.nav-page{background-color:#1D2123;border:0px; border-radius:0px;}
.box{margin:20px 0; background:#fff; padding-bottom:20px; cursor:default; height:200px;}
.title-bag{background:url(../img/eco/bk-eco-ga.jpg);}
.box-title h1{color:#fff !important; padding:20px 10px !important;}
.navbar-fixed-top, .navbar-fixed-bottom{position:relative;}
a.noshow{text-decoration:none;}
.inputbox{margin:10px 0;}
.rating_bar {
    /*this class creats 5 stars bar with empty stars */
    /*each star is 16 px, it means 5 stars will make 80px together */
    width: 80px;
    /*height of empty star*/
    height: 16px;
    /*background image with stars */
    background: url(/CloudProject/img/eco/stars.png);
    /*which will be repeated horizontally */
    background-repeat: repeat-x;
    /* as we are using sprite image, we need to position it to use right star, 
    //0 0 is for empty */
    background-position: 0 0;
    /* align inner div to the left */
    text-align: left;
}
.rating {
    /* height of full star is the same, we won't specify width here */
    height: 16px;
    /* background image with stars */
    background: url(/CloudProject/img/eco/stars.png);
    /* now we will position background image to use 16px from top, 
    //which means use full stars */
    background-position: 0 -16px;
    /* and repeat them horizontally */
    background-repeat: repeat-x;
}
.setbox{padding-left:10px; padding-right:10px;}
.setbox img{height:100px !important;}
.box-title h1{font-size:17px; color:#fff;  margin:0; }
.location,.share, .checkingIn{max-width:30px; padding-top:20px;}